* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif !important;
  width: 100%;
  min-height: 100vh;
  background-image: url("/resources/bg.svg");
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
h1 {
  font-family: "Josefin Sans", sans-serif !important;
}
.wrapper {
  width: 80%;
  padding: 30px 0;
  text-align: center;
}
.section-header {
  text-transform: uppercase;
  line-height: 70px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #fff;
  letter-spacing: 2px;
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-main-content-gap: 25px;
  grid-column-gap: 15px;
}
.main-content .box {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
  height: 250px;
  overflow: hidden;
}
.main-content .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before {
  top: 0;
  right: calc(100% - 5px);
  z-index: 10;
}
.main-content .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
