*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: calc(1.01vw + 1.43vh);
}

@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

@font-face {
  font-family: myFont;
  src: url("/resources/ABCWhyteInktrap-Bold-Trial.woff");
}
@font-face {
  font-family: mybodyFont;
  src: url("/resources/ABCWhyte-Book-Trial.woff");
}

@font-face {
  font-family: mybodyFont1;
  src: url("/resources/ABCWhyte-Bold-Trial.woff");
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: black;
  color: white;
  overscroll-behavior: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.Log {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  color: white;
  line-height: 1;
  pointer-events: none;
}

.Parallax {
  --p: 120;
  height: 100vh;
  overflow: hidden;
  /* position: absolute; */
  z-index: 0;
  -webkit-perspective: calc(var(--p) * 1px);
  perspective: calc(var(--p) * 1px);
  -webkit-perspective-origin-x: 100%;
  perspective-origin-x: 100%;
}
.Parallax_Scroll {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  /* position: relative; */
}
.Parallax_Preserve {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.Parallax_Layer {
  --t: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform: translateZ(calc(var(--t) * 1px))
    scale(calc(1 + (var(--t) * -1) / var(--p)));
  transform: translateZ(calc(var(--t) * 1px))
    scale(calc(1 + (var(--t) * -1) / var(--p)));
}

.Scene {
  position: relative;
  min-height: 100vh;
  padding: 5vw;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 5vw;
}

p {
  text-align: justify;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  margin-bottom: 2.5vw;
  font-size: max(1.6rem, 4vw);
  font-weight: 300;
  line-height: 1.2;
}

.Svg {
  display: block;
}

.Positioner {
  position: absolute;
}

/* Scene 1 */

#s-mars-surface > g,
#s-mars-shadow,
#s-orbiter-spacecraft {
  will-change: transform;
}

.Title,
.SubTitle,
.Tip {
  position: absolute;
  margin: 0;
  text-align: initial;
}

.Title {
  top: 6vw;
  left: 5vw;
  margin-right: 12rem;
  color: #ff4054;
  font-size: 3.375rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
}

.SubTitle {
  top: 6vw;
  right: 5vw;
  color: #ff4054;
  font-size: 1.625rem;
  font-weight: 700;
}

.Tip {
  left: 5vw;
  bottom: 4vw;
  font-size: 1rem;
  font-weight: 300;
  transform: translateY(calc(100% + 4vw));
  animation: scrollTip 1s cubic-bezier(0, 0, 0, 1) 9s forwards;
  transition: opacity 1s;
}
@keyframes scrollTip {
  to {
    transform: translateY(0px);
  }
}
@media (min-aspect-ratio: 39/20) {
  .Tip {
    display: none;
  }
}

.Positioner-mars {
  left: 67vw;
  top: 66vh;
  width: calc(61vh + (100vmax - 100vh) * 0.3);
  height: calc(61vh + (100vmax - 100vh) * 0.3);
  transform: translate(-50%, -50%);
}

.Parallax_Layer-orbiter {
  animation: Parallax_Layer-orbiter 50s linear infinite;
}
@keyframes Parallax_Layer-orbiter {
  0% {
    transform: translateZ(30px) scale(calc(1 + -30 / 120));
  }

  15% {
    transform: translateZ(50px) scale(calc(1 + -50 / 120));
  }
  35% {
    transform: translateZ(50px) scale(calc(1 + -50 / 120));
  }

  50% {
    transform: translateZ(30px) scale(calc(1 + -30 / 120));
  }

  65% {
    transform: translateZ(10px) scale(calc(1 + -10 / 120));
  }
  85% {
    transform: translateZ(10px) scale(calc(1 + -10 / 120));
  }

  100% {
    transform: translateZ(30px) scale(calc(1 + -30 / 120));
  }
}

.Positioner-orbiter {
  left: 67vw;
  top: 66vh;
  width: calc(61vh + (100vmax - 100vh) * 0.3);
  height: calc(61vh + (100vmax - 100vh) * 0.3);
  transform: translate(-50%, -50%);
  transform-origin: 150%;
  animation: Positioner-orbiter 8s cubic-bezier(0, 0.2, 0, 1) forwards;
}
@keyframes Positioner-orbiter {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/* Scene 2 */
.Scene-2 {
  background-color: #300361;
}

.Scene-2 > p:last-child {
  margin-bottom: 0;
}

.Svg-trajectory {
  max-width: 85vh;
  margin: auto;
  margin-top: -1.5vw;
  margin-bottom: 5vw;
}

#s-trajectory-earth,
#s-trajectory-earthSurface,
#s-trajectory-mars,
#s-trajectory-marsSurface,
#s-trajectory-spacecraft {
  will-change: transform;
}

/* Scene 3 */

.Scene-3 {
  height: 150vh;
}

.Svg-launch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#s-launch-rocket,
#s-launch-side1,
#s-launch-side2,
#s-launch-stand1,
#s-launch-stand2,
#s-launch-bigStand,
#s-launch-tower1,
#s-launch-tower2,
#s-launch-stage,
#s-launch-tower1Light,
#s-launch-tower2Light,
#s-launch-mainFlame,
#s-launch-side1Flame,
#s-launch-side2Flame {
  will-change: transform;
}

#s-launch-tower1 {
  transform-origin: 252px 765px;
}
#s-launch-tower2 {
  transform-origin: 756px 765px;
}

#s-launch-tower1Light,
#s-launch-tower2Light {
  transition: transform 0.3s;
}
#s-launch-tower1Light {
  transform-origin: 252px 461px;
}
#s-launch-tower2Light {
  transform-origin: 756px 461px;
}

#s-launch-stand1 {
  transform-origin: 440px 710px;
}
#s-launch-stand2 {
  transform-origin: 548px 710px;
}

.RocketSmoke {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* display: none; */
}

/* Scene 4 */
.Scene-4 {
  background: #21146b;
}

/* Scene 5 */
.Scene-5 {
  height: 200vh;
  min-height: 200vw;
}
.Svg-moiFg {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 100vw;
  transform: translate(-50%, -50%);
}

#s-moi-spacecraft,
#s-moi-spacecraftFire,
#s-moi-marsSurface,
#s-moi-marsShadow {
  will-change: transform;
}

.moiText {
  position: absolute;
  right: 0;
  max-width: 60%;
  padding: 5vw;
  transform: translate(0, -50%);
  transition: opacity 0.5s;
  opacity: 0;
}
.moiText-active {
  opacity: 1;
}

.moiText > h2 {
  margin: 0;
  font-size: max(2.4rem, 6vw);
  font-weight: 300;
  line-height: 1.2;
}
.moiText > h3 {
  margin: 0;
  font-size: max(1.4rem, 3.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.moiText p {
  margin: 0;
  font-size: max(0.8rem, 2vw);
  font-weight: 300;
  line-height: 1.5;
}

.moiText > p {
  transform: translateY(1.5em);
  transition: transform 0.5s;
}
.moiText-active > p {
  transform: translateY(0em);
}

.moiText_Ticker {
  display: grid;
}
.moiText_TickerItem {
  grid-column: 1;
  grid-row: 1;
  transition: opacity 1s;
  opacity: 0;
}

.moiText-3.moiText-active .moiText_TickerItem:nth-child(1) {
  animation: tick4 24s ease 0s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(2) {
  animation: tick4 24s ease 6s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(3) {
  animation: tick4 24s ease 12s infinite;
}
.moiText-3.moiText-active .moiText_TickerItem:nth-child(4) {
  animation: tick4 24s ease 18s infinite;
}
@keyframes tick4 {
  0% {
    opacity: 0;
    transform: translateY(1.5em);
  }
  2% {
    opacity: 1;
    transform: translateY(0rem);
  }
  25% {
    opacity: 1;
    transform: translateY(0rem);
  }
  27% {
    opacity: 0;
    transform: translateY(-1.5em);
  }
}

.moiText-4.moiText-active .moiText_TickerItem:nth-child(1) {
  animation: tick2 10s ease 0s infinite;
}
.moiText-4.moiText-active .moiText_TickerItem:nth-child(2) {
  animation: tick2 10s ease 5s infinite;
}
@keyframes tick2 {
  0% {
    opacity: 0;
    transform: translateY(1.5em);
  }
  1% {
    opacity: 1;
    transform: translateY(0rem);
  }
  40% {
    opacity: 1;
    transform: translateY(0rem);
  }
  55% {
    opacity: 0;
    transform: translateY(-1.5em);
  }
}

.moiText-1 {
  top: 0%;
  max-width: 95%;
  text-align: center;
  transform: none;
  position: relative;
}
.moiText-2 {
  top: 19%;
  max-width: 70%;
}
.moiText-3 {
  top: 35%;
  max-width: 58%;
}
.moiText-4 {
  top: 53%;
  max-width: 52%;
}
.moiText-5 {
  top: 76%;
  min-width: 63%;
}
/* Scene 6 */
.Scene-6 {
  display: grid;
  align-content: center;
  background: #000328;
}

/* Bug fix: Chrome Android 98.0.4758.87 */
.Scene-2,
.Scene-4,
.Scene-6 {
  opacity: 0.9999999; /* force create stacking context */
}

/* =========================================== */

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 3rem;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: #ff4054;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: bolder;
}
.nav_wrapper {
  position: absolute;
}
.leftNav,
.rightNav {
  display: flex;
  justify-content: space-around;
  z-index: 2000;
  width: 33%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.leftNav {
  border-radius: 0 0 250px 0;
}
.rightNav {
  border-radius: 0 0 0 250px;
}
.centerNav {
  background-color: transparent;
  padding-top: 0.2rem;
  width: 33%;
}
.centerNav img {
  margin: 0 1rem;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: auto 0;
  z-index: 100;
}
.tachyon-landing img {
  position: relative;
  top: -6vw;
  left: -3vw;
  height: 46vw;
}
.Lead {
  position: absolute;
  margin: 0;
  left: 5.5vw;
  top: max(50vmin - (50vmax - (100vmax - 100vmin)) * 0.2, 13rem);
  font-family: myFont;
  font-size: 1.625rem;
  font-weight: 300;
  width: calc(12ch + (100vmax - 100vh) * 0.3);
}
.juet-Landing {
  display: flex;
  justify-content: right;
  position: fixed;
  right: 0.8rem;
  align-items: center;
  /* margin-top: 20px; */
  z-index: 2000;
  text-align: center;
}
.infinity-logo {
  height: 3rem;
  position: relative;
  left: -1.5vw;
}
.juet {
  height: 2.2rem;
  /* background-color: #fff; */
}

.wrapper {
  position: relative;
}

.main_content {
  position: absolute;
}

.Reg_events {
  text-align: center;
}
.evt {
  text-align: center;
  width: 33%;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: solid 2px #fff;
}
.detaiBox {
  display: flex;
  gap: 10px;
}
.eventImage {
  height: 260px;
  margin: 8px 15px 0 0;
}
.detaiBox p {
  font-size: 0.9rem;
}
@media (max-width: 658px) {
  .juet-Landing {
    position: fixed;
    top: 0.8rem;
    right: 0.5rem;
  }
  .links {
    display: none;
    justify-content: space-between;
    gap: 2rem;
    margin: auto 0;
  }
  .tachyon-landing {
    width: 10vw;
    display: flex;
    gap: 0;
  }
  .tachyon-landing img {
    height: 15rem;
  }
  .tachyon-landing .Lead {
    width: 100%;
    font-size: 1rem;
    position: absolute;
    top: 8.3rem;
    left: 1.5rem;
  }
}
/* =============================== Contact Us Css ===================================== */
.Credit {
  position: relative;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 100%;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  position: relative;
}

form {
  padding: 0rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #000328;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #000328;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  /* padding: 0 2rem 0 3rem; */
  padding-left: 4.5rem;
  position: relative;
}

.contact-info .title {
  color: #fff;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #fff;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
.information p {
  text-align: left;
  margin: auto 0;
}
.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  display: flex;
  margin: 1rem 0;
}

.social-media p {
  color: #fff;
  margin: 0 6.5rem 0 0;
}

.social-icons {
  display: flex;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
#map {
  height: 220px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }
  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
